/* select a font */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --clr-sky-blue: #8ecae6ff;
  --clr-blue-green: #219ebcff;
  --clr-prussian-blue: #023047ff;
  --clr-selective-yellow: #ffb703ff;
  --clr-ut-orange: #fb8500ff;
  --clr-white: #fff;
  --clr-black: #3333;
  --ff-roboto: "Roboto", sans-serif;
  --ff-noto-sans: "Noto Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --max-width: 1170px;
  --fixed-width: 450px;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--ff-roboto);
}

/* global styles */
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 992px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section,
.container {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

body {
  background-color: aqua;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1rem;
}




.title {
  font-size: 1.35rem;
  font-weight: 600;
  margin: 1.35rem auto;
}

.form-control {
  display: flex;
  align-items: center;
  gap: 1rem;
  
}

.movie {
  font-size: 1.25rem;
  font-weight: 600;
}

.movie-value {
  padding: 0.5rem 1rem;
  font-size: 1.15rem;
  font-weight: 900;
  border-radius: var(--radius);
  color: var(--clr-ut-orange);
  border: 1rem;
}

.legend-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  background-color: var(--clr-selective-yellow);
  padding: 0.75rem 1.45rem;
  border: 1rem;
  border-radius: var(--radius);
}

.seat-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.screen {
  width: 21rem;
  height: 4.5rem;
  margin: 1rem auto;
  background-color: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
}

.message {
  font-size: 1.25rem;
  font-weight: 400;
}

#count,
#total-price {
  color: var(--clr-selective-yellow);
  font-style: 900;
}

.row {
  display: flex;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.seat {
  height: 2rem;
  width: 2rem;
  background-color: #0303b3;
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
  cursor: pointer;
}

.row.seat{
  cursor: pointer;
}

.seat.occupied {
  background-color: var(--clr-white);
  cursor: content: default;
}

.seat.selected {
  background-color: greenyellow;
}
